footer{
    height: 56px;
    width: 100%;
    background: #0c1e35;
    margin-right: -8px;
    margin-bottom: -8px; 
}

footer a{
    text-decoration: none;
    color:#ffffff;
    padding-right:5px; 
}


footer div{
    position:absolute;
    padding-top: 1%;
    padding-left: 5%; 
}

footer div+div{
    position: absolute;
    padding-left:80%; 
}
