.content{
    float : left;
    background-color: #173356;
    height: 100%;
    width : 85%;
}

app-intro-playlist{
    background: #284262;
    height: 800px;
    width: 91%;
    display: block;
    margin-top: 7%;
    margin-left: 4%;
}

app-intro-favorite, app-intro-popular{
    background: url('../../../../assets/images/albums_bg.png');
    width: 90%;
    display: block;
    color : #fff;
    margin-left: 4%;
    margin-top: 4%;
}


app-intro-favorite{
    height: 670px;    
}

app-intro-popular{
    height: 350px;    
    z-index: 1;
}