h6{
    color:#dadada;
    font-size: 8px;
    margin-left: 90%;
    margin-top: -5%;
}
div{
    display: inline-block;
    max-width: 25%;
    min-height: 20px;
    color:#ffffff;
    padding-left: 5%;
    padding-top: 2%;
}

h2{
    font-size: 17px;
    padding-left: 5%;

}

h4{
    font-size: 10px;
}

p{
    color:#dadada;
    font-size: 8px;
}

