    <aside>
        <section id="album">
            <img src='assets/images/20.png'>
            <img src='assets/images/rokeFolkPlaylist.png'>
            <p>Rock Folk</p>
            <p>HARDWELL</p>
        </section>
        <section id="song">
            <img src='assets/images/sevenHours.png'>
            <img src='assets/images/sortButton.png'>
            <p>Seven Hours</p>
            <p>Little May</p>
        </section>
        <section id="play">
            <img src='assets/images/backward.png'>
            <img src='assets/images/puse.png'>
            <img src='assets/images/forward.png'>
        </section>
        <section id="more">
            <img src='assets/images/upload.png'>
            <img src='assets/images/add1.png'>
        </section>

    </aside>