<!-- <input type="range" name="points" min="1" max="10" 

.beach-ball style="animation-duration: 4s"> -->

<!-- <h1>Help us create the best<br>playlist for <span>you</span></h1>
<p>what is your favorite era?</p>
<p>you can chooce more the one</p> -->
<h1>Help us create the best<br>playlist for <span>you</span></h1>
<p>what is your favorite Ryhtm?</p>
<button routerLink="content1">NEXT</button>
<img src="../../../../assets/images/rythm.png">
<!--  <input type="range" name="points" min="1" max="10" .beach-ball style="animation-duration: 4s;" > -->
<!-- <input id="range" type="range" name="range" min="1" max="100" value="100" > -->
<input type="range">
<h3>groovy</h3>
<h3>Slow</h3>
<!-- <img id="image" src="../../../../assets/images/studio.png" > -->