 h1{
  font-family:HelveticaNeue-Bold;
  font-size:25px;
  color:#dbdbdb;
  letter-spacing:0;
  text-align:center;
  margin-top:-12%;
}

span{
  font-size:30px;
}

p{
  font-family:LucidaGrande;
  font-size:25px;
  color:#ffffff;
  letter-spacing:0;
  margin-top: 3%;
  text-align: center;
}

#live{
  position: relative;
  margin-left:40%;
  margin-top: 5%;
}

#live p{
  margin-right:88%;
  margin-top: 1%;
}

#studio{
  position: relative;
  margin-top:-10%;
  margin-left: 53%;
}

#studio p{
  margin-right: 85%;
  margin-top: 1%;
}

img{
  opacity: 0.5;
}

div p{
  font-size: 16px;
}