<app-intro-nav>
    
</app-intro-nav>

<app-intro-content
        *ngIf="!albumToView"
        (albumSelected)="onAlbumSelected($event)"
></app-intro-content>

<app-intro-content2
        *ngIf="albumToView"
        [content2Album]="albumToView"
></app-intro-content2>
<!-- <div class="content">

    <app-intro-favorite>
        
    </app-intro-favorite>

    <app-intro-popular>
        
    </app-intro-popular>

    <app-intro-albums>
        
    </app-intro-albums>

</div> -->


<!-- <div class="content">

    <app-intro-playlist>
        
    </app-intro-playlist>

    <app-intro-favorite>
        
    </app-intro-favorite>

    <app-intro-popular>
        
    </app-intro-popular>

</div> -->


<div class="clear"></div>