h1{
    font-family:HelveticaNeue-Bold;
    font-size:28px;
    color:#ffffff;
    font-weight: bold;
    letter-spacing:1px;
    padding-left:4%;
    position: absolute;
    margin-top: 2%;
}

a{
    text-align:left;
    font-family:HelveticaNeue-Medium;
    font-size:14px;
    letter-spacing:0;
    color:#ffffff;
    text-decoration: none;
    position: absolute;
    margin-left: 80.5%;
    padding-top: 2.5%;    
}

a+a{
    color:#9b9b9b;
    margin-left: 87%;
    padding-top: 2.5%;
}

a+a+a{
    padding-top: 2.5%;
    margin-left: 92.5%;
    color:#ffffff;    
}
