 h1{
  font-family:HelveticaNeue-Bold;
  font-size:25px;
  color:#dbdbdb;
  letter-spacing:0;
  text-align:center;
  margin-top:-165px;
}

span{
  font-size:30px;
}

p{
  font-family:LucidaGrande;
  font-size:25px;
  color:#ffffff;
  letter-spacing:0;
  margin-top: 20px;
  text-align: center;
}

#lines{
  margin-top: -90px;
  margin-left: 230px;
}


#instruments{
    height: 100px;
    width: 50px;
    position: absolute;
}

h4{
    font-family:LucidaGrande;
    font-size:15px;
    color:#ffffff;
    letter-spacing:0;
    text-align: center;
}

#dotBefore1{
    margin-top: -10px;
    margin-left: 30px;

}
#dotBefore{
   margin-left: 20px;
}