 h1{
  font-family:HelveticaNeue-Bold;
  font-size:25px;
  color:#dbdbdb;
  letter-spacing:0;
  text-align:center;
  margin-top:-12%;
}

span{
  font-size:30px;
}

p{
  font-family:LucidaGrande;
  font-size:25px;
  color:#ffffff;
  letter-spacing:0;
  margin-top:3%;
  text-align: center;
}

p+p{
  font-family:HelveticaNeue-Light;
  font-size:15px;
  color:#ffffff;
  letter-spacing:0;
  text-align:center;
  margin-top: 0%;
  margin-left: 36%;
}


#line{
  border-bottom: 1px solid #ffffff;
  width: 54%;
  margin-left: 23%;
  margin-top: 13%;
}

#era{
    height: 100px;
    width: 5%;
    position: absolute;
}

h4{
    font-family:LucidaGrande;
    font-size:15px;
    color:#ffffff;
    margin-left: 36%;
}

#dotBefore{
   margin-left: 45%;
}
/*
#dotBefore1{
    margin-top: -10px;
    margin-left: 30px;

}*/