<nav>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" >

                <a  routerLink="/content" routerLinkActive="active" aria-hidden="true"><img src='assets/images/home.png'>Home</a>
            </li>
            <li>
                <a routerLink="/content" routerLinkActive="active" ><img src='assets/images/love.png'>Favorite</a>
            </li>
            <li>
                <a routerLink="" routerLinkActive="active" ><img src='assets/images/popularIcon.png'><span>Popular</span> Playlist</a>
            </li>
            <li>
                <a routerLink="" routerLinkActive="active" ><img src='assets/images/albumIcon.png'>Albums</a>
            </li>
            <li>
                <a routerLink="" routerLinkActive="active" ><img src='assets/images/playlistIcon.png'><span>Your</span> Playlist</a>
            </li>
            <li>
                <a routerLink="" routerLinkActive="active" ><img src='assets/images/djIcon.png'>Dj</a>
            </li>
        </ul>
    </nav>
