h1{
    font-family:HelveticaNeue-Bold;
    font-size:28px;
    color:#ffffff;
    font-weight: bold;
    letter-spacing:1px;
    padding-left:4%;
    position: absolute;
    margin-top: 1%;
}

a{
    font-family:HelveticaNeue-Medium;
    font-size:12px;
    letter-spacing:0;
    text-decoration: none;
    position: absolute;
    margin-left: 75.6%;
    padding-top: 2%;
    color:#9b9b9b;
}

a+a{
    font-size:12px;
    margin-left: 81%;
    padding-top: 2%;
    color:#ffffff;
}

a+a+a{
    font-size:15px;
    padding-top: 1.8%;
    margin-left: 88%;
}