 h1{
    font-family:HelveticaNeue-Bold;
    font-size:25px;
    color:#dbdbdb;
    letter-spacing:0;
    text-align:center;
    margin-top:-165px;
  }

  h2{
    font-family:LucidaGrande;
    font-size:35px;
    color:#ffffff;
    letter-spacing:0;
  }

  div{
    margin-top: 80px;
    margin-left: 170px;
  }

  div p{
    font-family:HelveticaNeue-Thin;
    font-size:25px;
    color:#ffffff;
    letter-spacing:0;
  }

  img{
    margin-top: 20px;
  }

  span{
    font-size: 10px;
    padding-left: 5px;
  }

  form >input{
    background:#203c57;
    border: none;
    opacity: 0.8;
    width:320px;
    height:35px;
    margin-right:200px;
    margin-top: -272px;
    float: right;
  }

  form input{
    font-family:HelveticaNeue;
    font-size:20px;
    color:#728494;
    letter-spacing:0;
    text-indent:20px;
  }

  form input+input{
    margin-top: -222px;
  }

  form input+input+input{
    margin-top: -172px;
  }

  form input+input+input+input{
    margin-top: -122px;
    border:2px solid #ffffff;
    background: none;
    width: 130px;
    height: 40px;
    opacity: 2;
    margin-right:390px;
    color: #ffffff;
    font-size: 15px;
    text-indent:-3px;
  }

  form input+input+input+input+input{
    margin-top: -122px;
    border:2px solid #ffffff;
    background: none;
    width: 130px;
    height: 40px;
    opacity: 2;
    margin-right:200px;
    color: #ffffff;
    font-size: 15px;
    text-indent:-3px;
  }

  input{
    cursor: pointer;
  }