 h1{
    font-family:HelveticaNeue-Bold;
    font-size:25px;
    color:#dbdbdb;
    letter-spacing:0;
    text-align:center;
    margin-top:-12%;
  }

  h2{
    font-family:LucidaGrande;
    font-size:35px;
    color:#ffffff;
    letter-spacing:0;
  }

  div{
    margin-top: 5%;
    margin-left: 13%;
  }

  div p{
    font-family:HelveticaNeue-Thin;
    font-size:25px;
    color:#ffffff;
    letter-spacing:0;
  }

  img{
    margin-top: 2%;
  }

  span{
    font-size: 10px;
    padding-left: 0.5%;
  }

  form >input{
    position: relative;
    background:#203c57;
    border: none;
    opacity: 0.8;
    width:23.7%;
    height:35px;
    margin-right:15%;
    margin-top: -20%;
    float: right;
  }

  form input{
    font-family:HelveticaNeue;
    font-size:20px;
    color:#728494;
    letter-spacing:0;
    text-indent:20px;
  }

  form input+input{
    margin-top: -16.5%;
  }

  form input+input+input{
    margin-top: -13%;
  }

  form input+input+input+input{
    margin-top: -9%;
    border:2px solid #ffffff;
    background: none;
    width: 10%;
    height: 40px;
    opacity: 2;
    margin-right:28.7%;
    color: #ffffff;
    font-size: 15px;
    text-indent:-3px;
  }

  form input+input+input+input+input{
    margin-top: -9%;
    border:2px solid #ffffff;
    background: none;
    width: 10%;
    height: 40px;
    opacity: 2;
    margin-right:15%;
    color: #ffffff;
    font-size: 15px;
    text-indent:-3px;
  }

  input{
    cursor: pointer;
  }