<h1>create your account</h1>
<div>  
    <h2>Let folk music inspire you</h2>
    <p>First, create your account.<br>
    Then you can enjoy all our music<br> 
    and we will build your own personal<br>
    folk songs playlist<br>
    <img src="../../assets/images/mute.png"><span>Mute</span></p>
</div>
<form action="/">
    <input type="text" name="usrname" placeholder="User Name" required>
    <input type="password" name="psw" placeholder="Password" required>
    <input type="email" name="email" placeholder="E-mail" required>
    <input type="submit" value="Create Account" routerLink="/years">
    <input type="submit" value="Login with Google">

</form>
